body{
	background-color: #ffdddd;
}
header{
	text-align: center;
	width: 80%;
	height: 190px;
	margin-left: auto;
	margin-right: auto;
	display: inline;
}
a{
	color: white;
	text-decoration: none;
}
#right{
	float: right;
}
#pestanas{
	font-size:220%;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #d15555;
	box-shadow: 10px 10px 5px grey;
	border-radius: 5px;
}
#pestanas ul{
   list-style:none;	
}
#pestanas li{
   display: inline;
}
#pestanas .active{
   background-color: #f7cd9e;
}